<form class="form-horizontal" action="/signup" method="post">
              <fieldset>
                <legend>Sign Up</legend>
                <div class="form-group">
                  <label for="user_handle" class="col-lg-2 control-label">Handle</label>
                  <div class="col-lg-10">
                    <input name="user_handle" type="text" class="form-control" id="user_handle" placeholder="Handle">
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-lg-10 col-lg-offset-2">
                    <button type="submit" class="btn btn-primary">Join!</button>
