<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/style.css">
  <script
  src="https://code.jquery.com/jquery-3.1.1.js"
  integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA="
  crossorigin="anonymous"></script>
<!-- JS file -->
  <script src="/js/jquery.easy-autocomplete.min.js"></script>
<script src="/js/script.js"></script>
<!-- CSS file -->
  <link rel="stylesheet" href="/css/easy-autocomplete.min.css">
</head>
<body>


<div>
{{response_title}}
{{response_text}}
{{response_handle}}
<br>
</div>
</body>
</html>
