<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Whitty</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
      crossorigin="anonymous">
    <link href="/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/easy-autocomplete.min.css">
  </head>
  <body>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="page-header">
        <h1>
          Whitty: <small>Contains Multitudes</small>
        </h1>
      </div>
      <ul class="nav nav-tabs">
        <li>
          <a href="/home">Home</a>
        </li>
        <li>
          <a href="/analyze">Analyze Poems</a>
        </li>
        <li>
          <a href="/analyses">See Analyses</a>
        </li>
        <li>
          <a href="/signup">Sign Up</a>
        </li>
        <li>
          <a href="/login">Log In</a>
        </li>
        <li>
          <a href="/logout">Log Out</a>
        </li>
        </ul>
    </div>
  </div>
  <br>
    {{#poems}}
<div class="card">
  <div class="card-block">
    <h4 class="card-title">Poem Title: {{poem_title}}</h4>
    <h4 class="card-title">Critic Handle: {{handle}}</h4>
    <button class="btn btn-primary seePoem">Toggle Poem</button>
    <p class="pCard-text" class="card-text"><textarea class="hidden" name='poem_text' id='poem_text'>{{poem_text }}</textarea></p>
    <button class="btn btn-primary seeAnalysis">Toggle Analysis</button>
    <p class="aCard-text" class="card-text"><textarea class="hidden" name='note_textR' id='note_textR'>{{note_text }}</textarea></p>
    <button class="btn btn-primary editAnalysis">Edit Analysis</button>
    <form onsubmit="return confirm('Do I contradict myself? More importantly, do you really want to submit these edits?');" class="inputForm" method="POST" action="/analyses/{{poem_id}}?_method=PUT">
    <textarea class ="hidden" name="note_text" id="note_text" value="{{note_text}}">{{note_text}}</textarea><br>
    <button class="btn btn-primary" type="submit">Save Edits</button>
    </form>
    <br><br>
    <form onsubmit="return confirm('Do you want to delete this analysis? Do anything, but let it produce joy.')" method="POST" action="/analyses/{{poem_id}}?_method=DELETE"> 
    <button class="btn btn-primary">Delete Analysis</button> 
    </form>
  </div>
</div>
  {{/poems}}
</div>
    <script
      src="https://code.jquery.com/jquery-3.1.1.js"
      integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA="
      crossorigin="anonymous"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/script.js"></script>
    <script src="/js/jquery.easy-autocomplete.min.js"></script>
    <script language="javascript" type="text/javascript"></script>
  </body>
</html>
