<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Whitty</title>

    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
      crossorigin="anonymous">
    <link href="/css/style.css" rel="stylesheet">

  </head>
  <body>

    <div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="page-header">
        <h1>
          Whitty: <small>Contains Multitudes</small>
        </h1>
      </div>
      <ul class="nav nav-tabs">
        <li>
          <a href="/home">Home</a>
        </li>
        <li>
          <a href="/analyze">Analyze Poems</a>
        </li>
        <li>
          <a href="/analyses">See Analyses</a>
        </li>
      </ul>
    </div>
  </div>
  <br>
    {{#poems}}
  <div class="card">
  <div class="card-block">
    <h4 class="card-title">Poem Title: {{poem_title}}</h4>
    <h4 class="card-title">Handle: {{handle}}</h4>
    <button class="btn btn-primary seePoem">Toggle Poem</button>
    <p class="pCard-text" class="card-text">{{poem_text }}</p>
    <button class="btn btn-primary seeAnalysis">Toggle Analysis</button>
    <p class="aCard-text" class="card-text">{{note_text }}</p>
  </div>
</div>
<br>
    <form method="POST" action="/analyses/{{poem_id}}?_method=DELETE"> 
    <button class="btn btn-primary">DELETE</button> 
  </form>
{{/poems}}
</div>

    <script
      src="https://code.jquery.com/jquery-3.1.1.js"
      integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA="
      crossorigin="anonymous"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/script.js"></script>
    <script src="/js/jquery.easy-autocomplete.min.js"></script>
    <script language="javascript" type="text/javascript"></script>
  </body>
</html>
